{
	"presets": ["@babel/preset-env"],
	"plugins": [
		["@babel/transform-runtime"],
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@": "./src",
					"@controllers": "./src/controllers",
					"@docs": "./src/docs",
					"@middlewares": "./src/middlewares",
					"@models": "./src/models",
					"@routers": "./src/routers",
					"@tools": "./src/tools"
				}
			}
		],
		["@babel/plugin-syntax-throw-expressions"]
	]
}
